@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #d3dddc;
}

/* Navigation */
.logo > a {
  color: #d3dddc;
  font-size: 25px;
  font-weight: 300;
  padding: 0 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #245551;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  padding: 0 40px;
}

.nav-list a {
  color: #d3dddc;
  padding: 0px 20px;
}

.nav-list a:hover {
  color: #7b9996;
}

/* login page styling */
/* Log In Styling */
.login,
.signup {
  width: 400px;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #245551;
  border: 2px solid #245551;
  border-radius: 10px;
}

.login > h1,
.signup > h1 {
  margin: 20px;
  text-align: center;
  font-size: 22px;
  color: #d3dddc;
}

.login-form,
.signup-form {
  margin: 20px;
}

.input-box {
  width: 100%;
  padding: 10px 0;
}

input {
  width: 100%;
  height: 50px;
  border: 2px solid #d3dddc;
  border-radius: 10px;
  font-size: 17px;
  padding: 0 10px;
}

.login-btn,
.signup-btn {
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  color: #245551;
  background-color: #d3dddc;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #7b9996;
  color: #d3dddc;
}

.login-text {
  color: #d3dddc;
  margin: 20px;
}

.login-text a {
  color: #d3dddc;
  cursor: pointer;
}

.login-text a:hover {
  color: #7b9996;
  font-weight: bold;
}

/* ============================================================================= */

@media only screen and (max-width: 810px) {
  nav {
    justify-content: center;
  }
  .nav-list {
    font-size: 15px;
    font-weight: 100;
    padding: 0;
  }
  .logo > a {
    font-size: 18px;
    display: block;
  }
}

@media only screen and (max-width: 580px) {
  nav {
    justify-content: center;
  }
  .nav-list {
    font-size: 14px;
    font-weight: 100;
    padding: 0;
  }
  .logo > a {
    font-size: 17px;
    display: block;
  }
}
